.menu__subNavBar {
  width: 100%;
  background-color: rgb(245,246,246);
  box-shadow: 5px 3px 8px #888888;
  z-index: 100;
  position: fixed;
  top: 50;
}
.menu__subNavBar::after{
        content: "";
        clear: both;
        display: table;
      
}
.menu__subNav {
  max-width: 950px;
  margin: 0 auto;
  padding-left: 50px;
}
ul {
  display: flex;
  align-items: center;
}
li {
  padding: 10px 10px;
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  color: rgb(3,96,139);
  letter-spacing: 1px;
}
.list__link {
  text-decoration: none;
}
